@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <div class="col-md-5">
    Your Reservation with Confirmation Number @ViewBag.ReservationConfirmationNumber has been Cancelled.
        </div>
    <div class="col-md-5 col-md-offset-1" style="background-color:floralwhite">
        START A RESERVATION
    </div>
</div>
