@model DomainObjects.ViewModels.ReservationViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <br /><br />
    <div class="col-md-5">
        <h4>Thank You</h4>
        <h5>Your Confirmation Number is: <span>@Model.ConfirmationNumber</span></h5>
    </div>
    @if (!User.Identity.IsAuthenticated)
    {
        <div class="col-md-5">
            <form asp-controller="Home" asp-action="ReservationComplete" role="form" class="form-horizontal">
                <h3>Quick SignUp</h3>
                <div class="form-group">
                    <input type="password" asp-for="QuickSignUp.Password" placeholder="Password" />
                    <span class="text-danger" asp-validation-for="QuickSignUp.Password"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="SIGN UP" class="btn btn-lg"/>
                </div>
            </form>
        </div>
    }
</div>

}