@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <h4>Thank You</h4>
    <h5>Your Confirmation Number is:</h5>
</div>