@model DomainObjects.ViewModels.ReservationContactViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<br />
<h2>CONTACT INFORMATION</h2>

<div class="row">
    <form>
        <fieldset>
            <legend>Please Complete all Fields</legend>
            <div class="form-group">
                <label class="col col-lg-4">FirstName:</label>
                <input type="text" class="form-control" id="reservationFirstName" asp-for="FirstName" />
            </div>
            <div class="form-group">
                <label class="col col-lg-4">LastName:</label>
                <input type="text" class="form-control" id="reservationLastName" asp-for="LastName" />
            </div>
            <div class="form-group">
                <label class="col col-lg-4">FirstName:</label>
                <input type="email" class="form-control" id="reservationEmail" asp-for="EmailAddress" />
            </div>
            <div class="form-group">
                <div class="col-lg-3 pull-right">
                    <input type="submit" value="REVIEW RESERVATION" class="btn btn-default btn-lg" />
                </div>
            </div>
        </fieldset>
    </form>
</div>