@model DomainObjects.ViewModels.ReservationViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <p>Reservation @Model.ConfirmationNumber Has been Updated.</p>
    <br /><br />
    <a href="/Home/#reservationFormDiv" class="btn btn-sm btn-primary">START ANOTHER RESERVATION</a>
    <a asp-controller="Home" asp-action="Index" class="btn btn-sm btn-primary">BACK TO HOMEPAGE</a>
</div>
