@model DomainObjects.ViewModels.RegistrationViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<br />
<h4>CONTACT INFORMATION</h4>

<div class="row">
    <form asp-controller=@(Model.ControllerName) asp-action=@(Model.ActionName) method="post" role="form" id="userRegistrationForm">
        <fieldset>
            <legend>Please Complete all Fields</legend>
            <div class="form-group">
                <label class="col col-lg-3">FirstName:</label>
                <input type="text" class="form-control contactInfoTextfield" id="reservationFirstName" asp-for="FirstName" />
                <span asp-validation-for="FirstName"></span>
            </div>
            <div class="form-group">
                <label class="col col-lg-3">LastName:</label>
                <input type="text" class="form-control contactInfoTextfield" id="reservationLastName" asp-for="LastName" />
                <span asp-validation-for="LastName"></span>
            </div>
            <div class="form-group">
                <label class="col col-lg-3">Email Address:</label>
                <input type="email" class="form-control contactInfoTextfield" id="reservationEmail" asp-for="EmailAddress" />
                <span asp-validation-for="EmailAddress"></span>
            </div>
            @if (!Model.HidePasswordField)
            {
                <div class="form-group">
                    <label class="col col-lg-3">Password:</label>
                    <input type="password" class="form-control contactInfoTextfield" id="registrationPassword" asp-for="Password" />
                    <span asp-validation-for="Password"></span>
                </div>
            }
            <br />
            <div class="form-group">
                <div class="col-lg-3">
                    <input type="submit" value=@(Model.submitButtonValue) class="btn btn-default btn-lg" />
                </div>
            </div>
        </fieldset>
    </form>
</div>