@model DomainObjects.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Login";
}

<div class="row">
    <br /><br />
    <div class="login-form col-md-8 col-md-offset-4">
        <form asp-controller="Auth" asp-action="Login" role="form" method="post" class="form-horizontal" id="loginform">
            <div asp-validation-summary="All" class="text-danger"></div>
            <br /><br />
            <h4>LOGIN</h4>
            <br />
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-lg-2">Email</label>
                    <div class="col-lg-5">
                        <input type="email" placeholder="Enter Email"  asp-for="Email" style="width:100%;" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2">Password</label>
                    <div class="col-lg-5">
                        <input type="password" asp-for="Password" placeholder="Enter Password" style="width:100%;" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="LOGIN" class="btn btn-default" style="width:100%" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


