@model DomainObjects.ViewModels.ReservationVehicleViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <br />
    <h5><b>SELECT VEHICLE</b></h5>
</div>
<div class="row">

    @foreach (var vehicle in Model.Vehicles)
    {
        string pricePerDay = string.Concat("$", vehicle.PricePerDay);
        var thumbnailId = "";

        <div class="col-xs-4">
            <form asp-controller=@(Model.FormController) asp-action=@(Model.FormAction) method="post" role="form">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" asp-for="ReservationVehicle.Id" value=@(vehicle.Id) />
                @if(Model.ReservationVehicle.Id == vehicle.Id)
                {
                    thumbnailId = "selectedthumbnail";
                }

                <div class="thumbnail" id=@thumbnailId>
                    <span class="numeric"> @string.Concat("$", vehicle.PricePerDay) / Day</span>
                    <img src="~/images/@(vehicle.ImageName)" style="min-height:170px;height:140px;" />
                    <hr />
                    <div class="caption">
                        <h4>
                            <i>@vehicle.Name</i>&nbsp;&nbsp;&nbsp;&nbsp;
                        </h4>
                        <p>
                            <input type="button" value="More Details" class="btn btn-default" />
                            <input type="submit" value="SELECT" class="btn btn-default" id="uservehicle" onclick="VehicleSelected()" />
                        </p>
                    </div>
                </div>
            </form>
        </div>
    }

</div>

