

.pickupdate {
    background-color: #eee !important;
}

.returndate {
    background-color: #eee !important;
}

.storeLocation {
    background-color: #eee !important;
}

.selectedVehicle {
    border: 2px solid green;
}

#reservationContactForm {
    background-color: #eee !important;
}

.contactInfoTextfield {
    background-color: white;
}


hr {
    height: 1px;
    background-color: darkcyan;
}

.reservationSummary {
    background-color: #eee;
}

.reservation-summary-table-header {
    border-bottom:1px solid darkcyan;
    border-top:1px solid darkcyan;
}
table{
    width: 100%;
}
.numeric{
    color:#10bc13;
}
#rentalVehicle{
    background-color:#eee;
}
.reservation-summary-rental-vehicle{
    background-color:#eee;
    border:none;    
}
fieldset{
    border:1px solid darkcyan;
    padding: 20px;
}
#loginform{
    border:2px solid #eee;
}
.login-form{
    background-color:#eee;
}